* {
  font-family: "Share Tech Mono", monospace;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#board,
.boardInfo {
  max-width: 500px;
  margin: 4rem auto;
}

.intro-speed-select {
  font-size: 16px;
  margin: 20px 0;
  padding: 5px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 30px;
  /* background-color: #e3e773; */
}
/* #start:hover {
  background: #f35a69;
} */

#gameOver {
  display: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#start {
  background-color: #f35a69;
  border: none;
  color: white;
  max-height: 45px;
  width: 150px;
}
.gameInfo {
  /* font-size: 25px; */
}
#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #c9af91;
}

.snakeSquare {
  background-color: #73e779;
  border: 1px solid #000;
}

.foodSquare {
  background-color: #be6353;
  border: 1px solid #000;
}
/* Estilo retro */
.retro-button:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
  transform: scale(1.04); /* Escala al hacer hover para la animación 3D */
}

/* Estilo retro al hacer clic */
.retro-button:active {
  transform: scale(0.95); /* Escala al hacer clic para la animación 3D */
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
}

.intro-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in;
}

.intro-button {
  background-color: #f35a69;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: 3s ease-in;
}

.intro-button:hover {
  background-color: #e34558;
}

/* Estilos para ocultar el juego al principio */
.game-container {
  display: none;
}
#gameOver {
  margin: 5rem auto;
  font-size: 80px;
  color: rgb(218, 102, 25);
  text-align: center;
}
